body{
    background-image: url('../images/background2.jpg');
}
#schoenoffwhite img{
    width: auto;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    
}
#stockx img{
    width: 250px;
    height: auto;
    margin-left: 300px;
    
    float: left/right;
    position: absolute;
    display: inline-block;
    overflow: auto/scroll/hidden;
    clear: left/right/both;
    
}
#stockx:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    margin-left: 45px;
  }

#prijs h1{
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin-bottom: 500px;
    float: left/right;
    position: absolute;
    display: inline-block;
    overflow: auto/scroll/hidden;
    clear: left/right/both;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}